<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PrintCloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CloudPrint</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <h1>Upload your document</h1>
    </div>
</div>

<form class="form-horizontal" method="POST" action="/upload" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
    <input type="file" name="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3" style="width: 30%">
            <input type="text" id="name" name="name" placeholder="name" required="true" class="form-control"/>
            <br/>
            <input type="email" id="email" name="email" placeholder="e-mail address" required="true" class="form-control"/>
            <br/>
            <input type="radio" name="color" value="black" /> Black and White   <input type="radio" name="color" value="color"/> Colored<br/><br/>
            <input type="radio" name="sides" value="one" /> One Sided   <input type="radio" name="sides" value="two"/> Both Sides<br/><br/>
            Pick up time: <br/>
            <input type="datetime-local" name="pickupDate" required="true" class="form-control" /> <br/>
            <textarea placeholder="Additional specifications" id="specs" name="specs" class="form-control" />
            <br/>

            <button type="submit" class="btn btn-success">Upload</button>
        </div>
    </div>
    <!--<div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">

        </div>
    </div>-->
    <!--<div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">

        </div>
    </div>-->
</form>

</body>
</html>
